
{% extends 'index.html' %}

{% block title %} Detalhes do livro {% endblock %}

{% block content %}
    {% comment %} {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                    <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %} {% endcomment %}
    <dl style = ''>
        <dt>Titulo:</dt>
        <dd>{{ book.title }}</dd>
        <dt>Autor:</dt>
        <dd>{{ book.author_first_name }} {{ book.author_last_name }}</dd>
        <dt>Gênero:</dt>
        <dd>{{ book.genre.name }}</dd>
        <dt>Status:</dt>
        <dd>{{ book.status.name }}</dd>
        <dt>EAN ISBN13:</dt>
        <dd>{{ book.ean_isbn13 }}</dd>
        <dt>UPC ISBN10:</dt>
        <dd>{{ book.upc_isbn10 }}</dd>
        <dt>Editora:</dt>
        <dd>{{ book.publisher }}</dd>
        <dt>Ano de Publicação:</dt>
        <dd>{{ book.year }}</dd>
        <dt>Avaliação:</dt>
        <dd>{{ book.rating }}</dd>
        <dt>Descrição:</dt>
        <dd>{{ book.description }}</dd>
    </dl>
 
    
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'atualiza-livro' book.id %}">{% csrf_token %}
            <button type="submit" class="button">Editar livro</button>
        </form>
        {% if user.user_type.code_description == 'Bibliotecario' %}
            {% if book.status.name == 'Disponivel' %}
                <a class="button" href="{% url 'emprestimos' book.id %}" role="button">Cadastrar Empréstimo</a>
            {% endif %}
            {% if book.status.name == 'Emprestado' %}
                <form method="post" action="{% url 'devolucao' book.id %}">{% csrf_token %}
                    <button type="submit" class="button">Confirmar Devolução</button>
                </form>
            {% endif %}
        {% endif %}
    {% endif %}

    <a class="button" href="{% url 'livros' %}" role="button">Voltar</a>
{% endblock %}
