{% extends 'index.html' %}


{% block 'title' %} Cadastrar{% endblock  %}
  
{% block content %}
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Titulo:</th>
        <th scope="col">Autor:</th>
        <th scope="col">Gênero:</th>
        <th scope="col">Status:</th>
      </tr>
    </thead>
      {% for book in books %}
        <tbody>
          <tr>
            <td><a href="{% url 'detalhes-livro' book.id %}">{{ book.title }}</a></td>
            <td>{{ book.author_first_name}} {{ book.author_last_name}} </td>
            <td>{{ book.genre.name }}</td>
            <td>{{ book.status.name }}</td>
          </tr>
      {% endfor %}
  </table>
    <a class="button" href="{% url 'home' %}" role="button">Voltar</a>
</div>
{% endblock %}