{% extends 'index.html' %}


{% block title %}Home{% endblock %}

{% block content %}
    <img class="home-img" src="https://i.imgur.com/EuPMw6T.jpg"/>
    <h1>Conheça a Biblioteca Dona Leonor</h1>
    <p>A Associação Cultural Dona Jô foi fundada em fevereiro
        de 2023. É uma associação cultural sem fins lucrativos
        mantida pelos próprios membros e com ajuda de
        parcerias. Seu nome é em homenagem a Josefina Batista,
        mulher negra e militante, moradora de Mauá e
        fundadora da ESCEC (Espaço Social Cidadão e Cidadania), a associação é continuidade do projeto que surgiu como
        Espaço Cultural Dandara, no primeiro semestre de 2022.
        A Associação acolhe diversos projetos e coletivos. <br/>
    
        A Associação Cultural Dona Jô abriga a Biblioteca Comunitária Dona Leonor
        inaugurada em 2011 dentro do Centro Cultural Dona Leonor, porém fechada durante
        a pandemia. A Biblioteca faz parte da rede Litera Sampa e da Rede Nacional de
        Bibliotecas Comunitárias (RNBC), a biblioteca comunitária Dona Leonor possui um acervo de cerca de 3.000 livros que estão disponíveis
        para empréstimo para a comunidade. Além disso desenvolve projetos comunitários
        de incentivo a leitura e atividades culturais diversas
    </p>
{% endblock %}