{% extends 'index.html' %}


{% block title %}Home{% endblock %}

{% block content %}
    <img class="home-img" src="https://i.imgur.com/EuPMw6T.jpg"/>
    <h1>Conheça a Biblioteca Dona Leonor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. Molestie at  elementum eu facilisis sed odio morbi. Placerat in egestas erat  imperdiet sed euismod nisi porta. Velit egestas dui id ornare arcu odio  ut sem. Iaculis nunc sed augue lacus viverra vitae congue eu consequat.  Egestas maecenas pharetra convallis posuere. Pellentesque nec nam  aliquam sem et tortor consequat id porta. Sagittis vitae et leo duis ut  diam quam nulla porttitor. Non sodales neque sodales ut etiam sit amet.  Lectus quam id leo in vitae. Accumsan sit amet nulla facilisi morbi.  Iaculis eu non diam phasellus vestibulum.
Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet.  Integer enim neque volutpat ac tincidunt vitae semper quis. Habitasse  platea dictumst quisque sagittis purus sit amet. Convallis convallis  tellus id interdum velit. Duis ultricies lacus sed turpis tincidunt.  Massa placerat duis ultricies lacus sed turpis tincidunt id aliquet.  Nisi scelerisque eu ultrices vitae. Cursus euismod quis viverra nibh  cras. Gravida in fermentum et sollicitudin ac orci phasellus. Mi ipsum  faucibus vitae aliquet nec ullamcorper sit amet. Proin sagittis nisl  rhoncus mattis rhoncus. Ultrices in iaculis nunc sed augue. Tempus quam  pellentesque nec nam aliquam sem et tortor.</p>

{% endblock %}